/* Global styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* Header styles */

.section__header{
    height: 90px;
    box-shadow: 0 5px 2px -3px #ccc;
    background: #eee;
}

.section__header .section__header_nav{
    padding: 10px;
}

/* Button style */

.button{
    color: #b2beff;
    background-color: #3f51b5!important;
    box-shadow: 4px 7px 12px -4px rgba(0,0,0,0.75);
}

.button:hover {
    animation: text-shadow 2s ease-in-out;
    background-color: #1e285e!important;
    box-shadow: 4px 7px 9px 0px rgba(0,0,0,0.75);
    color: #eee;
}

.button:active{
    box-shadow: none;
}

/* Home styles  */

.section__home_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.section__home{
    min-height: 300px;
}

.button__home{
    width: 300px;
    height: 55px;
    line-height: 50px;
}

.button__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button__home_link{
    color: #b2beff;
    display: block;
    text-decoration: none;
    width: 100%;
    font-weight: normal;
    font-size: 35px;
}

.button__home_link:hover{
    color: #eee;
}

/* Button animation */
@keyframes text-shadow {
    from {text-shadow: 0 2px 3px #b2beff;}
    50% {text-shadow: 0 2px 50px #000;}
    to {text-shadow: 0 2px 3px #b2beff;}
    }

/* Footer styles */

footer{
    background: #eee;
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: relative;
    bottom: -25px;
    box-shadow: -2px -7px 16px -9px rgba(0,0,0,0.75);
}

/* Home page styles */

/* .prod-wrap{
    box-shadow: 0px 0px 4px 1px black;
    padding: 15px;
    margin: 12px 0;
    text-align: center;
}

.btn-wrapp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 2 100px;
} */

.section__home_title{
    text-align: center;
    padding-top: 10px;
}

.btn-next{
    display: block;
    text-align: center;
}

.button__round{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    margin-left: 30px;
    font-size: 33px;
    text-decoration: none;
}

.button__round:hover{
    cursor: pointer;
}